<div>
    <h2 data-translate="roadApp.quarto.home.title">Quartos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="quarto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="roadApp.quarto.home.createLabel">
                        Create new Quarto
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome"><span data-translate="roadApp.quarto.nome">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="classe"><span data-translate="roadApp.quarto.classe">Classe</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quartoTipoDescricao"><span data-translate="roadApp.quarto.quartoTipo">Quarto Tipo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quarto in vm.quartos track by quarto.id">
                    <td><a ui-sref="quarto-detail({id:quarto.id})">{{quarto.id}}</a></td>
                    <td>{{quarto.nome}}</td>
                    <td data-translate="{{'roadApp.QuartoSexo.' + quarto.classe}}">{{quarto.classe}}</td>
                    <td>
                        <a ui-sref="quarto-tipo-detail({id:quarto.quartoTipoId})">{{quarto.quartoTipoDescricao}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="quarto-detail({id:quarto.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="quarto.edit({id:quarto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="quarto.delete({id:quarto.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
