<div>
    <h2 data-translate="roadApp.pagamento.home.title">Pagamentos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pagamento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="roadApp.pagamento.home.createLabel">
                        Create new Pagamento
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="data"><span data-translate="roadApp.pagamento.data">Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="baixa"><span data-translate="roadApp.pagamento.baixa">Baixa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valor"><span data-translate="roadApp.pagamento.valor">Valor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pessoaNome"><span data-translate="roadApp.pagamento.pessoa">Pessoa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pagamento in vm.pagamentos track by pagamento.id">
                    <td style="width:90px;"><a ui-sref="pagamento-detail({id:pagamento.id})">{{pagamento.id}}</a></td>
                    <td style="width:100px;">{{pagamento.data | date:'dd/MM/yyyy'}}</td>
                    <td style="width:110px;">{{pagamento.baixa | date:'dd/MM/yyyy'}}</td>
                    <td style="width:120px;">{{pagamento.valor | currency}}</td>
                    <td>
                        <a ui-sref="pessoa-detail({id:pagamento.pessoaId})">{{pagamento.pessoaNome}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ui-sref="pagamento-detail({id:pagamento.id})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" ui-sref="pagamento.edit({id:pagamento.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit" ui-sref="pagamento.delete({id:pagamento.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
